
# Env settings (database connections, etc)
packages/*/.env
packages/*/pm2-env.json
packages/*/.env.development
packages/*/.env.production

# Compiled applications
packages/*/build
packages/*/dist

# Track the private db directory, but not its contents.
!packages/server-graphql/private
packages/server-graphql/private/*

# dependencies
node_modules
# We're using npm to handle packages on this project.
# There is some disagreement on our team about tracking the package lock files:
# https://github.com/cns-iu/xmacroscope/issues/146
# For now, we're not tracking these files.
package-lock.json

# We don't use yarn for this project, but we should ignore it
# in case an end  user uses it and generates a lock file that shouldn't be tracked
yarn.lock

# Compiled python files
*.pyc

# compiled output
packages/aisl/dist
packages/aisl/tmp
packages/aisl/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/lerna-debug.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#error-log files
yarn-error.log

# Don't exclude .gitkeep files, which are used to track empty directories,
# or directories of files that we don't track, but whose presence we want
# to track.
!.gitkeep
