
# Env settings (database connections, etc)
packages/*/.env
packages/*/pm2-env.json
packages/*/.env.development
packages/*/.env.production

# Compiled applications
packages/*/build
packages/*/dist
packages/server-graphql/private

# dependencies
packages/*/node_modules
node_modules

# Compiled python files
*.pyc

# compiled output
packages/aisl/dist
packages/aisl/tmp
packages/aisl/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/lerna-debug.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#lock files
yarn.lock
package-lock.json

#error-log files
yarn-error.log