/* ------------------------------- 
 * Resource page list
 * ------------------------------- */

.resource-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('../assets/resources-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: auto;
  height: 100%;
  padding: 10rem 1rem;
}

.resource-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2rem;
}

.resource-title {
  font-weight: 900;
  font-size: 2rem;
}

@media (min-width: 544px) {
  .resource-page {
    padding: 14rem 2rem;
  }

  .resource-title {
    font-size: 3rem;
  }

  .text-below-resource-title {
    font-size: 1.375rem;
  }
}

@media (min-width: 768px) {
  .resource-page {
    padding: 14rem 5rem;
  }

  .resource-title {
    font-size: 5rem;
  }

  .text-below-resource-title {
    font-size: 1.625rem;
  }
}

@media (min-width: 1012px) {
  .resource-page {
    padding: 10rem 5rem 14rem 5rem;
  }

  .resource-page-content {
    max-width: 56rem;
  }

  .resource-title {
    font-size: 5.625rem;
  }

  .text-below-resource-title {
    font-size: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .resource-title {
    font-size: 6rem;
  }

  .text-below-resource-title {
    font-size: 2rem;
  }
}

/* ------------------------------- 
 * Page below resource page list
 * ------------------------------- */

.page-below-resource {
  /* padding: 10rem 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  gap: 28rem;

  background: linear-gradient(180deg, #fff5d5 0%, rgba(255, 250, 236, 0) 100%);
}

.page-below-resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5rem;

  width: 100%;
}

.page-below-resource-title {
  font-weight: 900;
  font-size: 2rem;
}

.resource-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2.5rem;

  width: 100%;
}

.resource-button-row {
  display: contents;
}

.download-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 3px;
}

@media (min-width: 544px) {
  .page-below-resource {
    padding: 5rem 2rem;
  }

  .page-below-resource-title {
    font-size: 3rem;
  }

  .download-logo {
    margin-right: 0.938rem;
  }
}

@media (min-width: 768px) {
  .page-below-resource {
    padding: 14rem 5rem;
  }

  .page-below-resource-title {
    font-size: 4rem;
  }

  .page-below-resource-title-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1012px) {
  .page-below-resource {
    padding: 14rem 5rem;
  }

  .page-below-resource-title {
    font-size: 4.5rem;
  }

  .resource-button-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .page-below-resource-content {
    max-width: 56rem;
  }
}
