@import '~custom-theme.sass'
@import '~typography.sass'

.section 
    margin-left: 15px
    h1
        font-size: 2em
        margin-bottom: 10px
        font-family: $r-normal
    h2
        font-size: 1.5em
        margin-bottom: 10px
        font-family: $r-normal
