@use '~@angular/material' as mat;

$primary: mat.define-palette(map-merge(mat.$blue-palette, (
  // 500: #5a6089,
  500: #006298,
  600: #2a4d87,
  700: #363a52,
  800: #212121,
  900: #000000
)));

$accent: mat.define-palette(mat.$gray-palette);
$warn: mat.define-palette(mat.$red-palette);

$color: (
  primary: $primary,
  accent: $accent,
  warn: $warn
);