@import "../shared/common-colors.scss";

$table: (
  headerBackground: $color-0-98-152,
  headerColor: $color-white,
  bodyBackground: $color-white,
  bodyColor: $color-97-97-97,
  opponentBackground: $color-204-224-234,
  scrollbarTrackColor: $color-222-218-215,
  scrollbarHandleColor: $color-97-97-97
);
