color-legend ::ng-deep svg
    width: 200%
    height: 100%

color-legend ::ng-deep #colorLegendTitle
    display: none

color-legend ::ng-deep svg *
    stroke: white

color-legend ::ng-deep svg text
    fill: white
