.main-view
  align-items: stretch
  overflow: hidden
  margin-top: 3rem
  margin-bottom: 3rem

.visualization-and-legend-view
  .visualization
    height: 57.5rem

.no-header
  .visualization-and-legend-view
    .visualization
      height: 57.5rem
    .legend
      height: 7rem
