.dropTarget
  border: 1px dashed #aaaaaa
  font-size: 15px
  width: 250px
  margin: 10px
  display: inline-block
  float: left

.selectedAttrText
  padding: 2px

.selectedAttrLabel
  font-weight: bold
