.table {
  .container {
    display: flex;

    .y-axis {
      width: 15.625rem;

      .visualization-name {
        font-size: 3rem;
        font-family: 'Paytone One';
        color: #006298;
        text-align: left;
        margin-left: 3rem;
      }

      .message {
        padding-top: 12rem;
        margin: 2.5rem;
        font-size: 2rem;
        font-family: 'Paytone One';
        color: #66A1C1;
        text-align: center;
      }

      .buttons {
        margin-top: 3rem;
      }

    }

    .visualization {
      width: calc(100vw - 31.25rem);

      .visualization-area {
        width: fit-content;
        height: calc(100vh - 23rem);
        margin: auto;

        ::ng-deep table {
          width: unset;
          table-layout: fixed;

          thead tr {
            display: flex;
            align-items: center;
            border-radius: 1rem 1rem 0 0;

            th {
              border: none;
            }
          }

          tbody {
            display: block;
            height: calc(100vh - 26.5rem);
            overflow-y: auto;

            &::-webkit-scrollbar {
              width: 1.25rem;
            }
          }

          th, td {
            width: 10.375rem;
            text-align: center;
            vertical-align: middle;
            font-family: "Lato", sans-serif;
            font-size: 1.25rem;
            padding: 0;
          }

          th:first-child {
            border-radius: 1rem 0 0 0;
          }

          th:last-child {
            border-radius: 0 1rem 0 0;
          }

          td:first-child {
            padding: 0.25rem 0;
          }
        }
      }

      .x-axis-buttons {
        height: 10rem;
        padding: 3rem 8.5625rem 3rem 12.5625rem;
        display:flex;
        justify-content: center
      }
    }

    .graphic-variables-selection {
      width: 15.625rem;
      margin: auto;

      :not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
