
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import '~material-design-icons/iconfont/material-icons.css';
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

@import "~typeface-lato/index.css";
@import "~typeface-paytone-one/index.css";

@import "app/make-a-vis/themes/legend/legend.scss";
@import "app/make-a-vis/themes/button/button.scss";
@import "app/make-a-vis/themes/table/table.scss";

@include mat-core();

* {
  font-family: Lato, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}
