.legend-view-container
  height: 100%
  width: 100%
  background: #3d3d3d
  color: #ffffff
  display: flex
  overflow-y: hidden

  .description
    padding: 0.8%
    width: 50%

    .title
      font-weight: bold
      font-size: 20px
      color: #ffb100

    .text
      line-height: 20px
      font-size: 15px
      color: #ffffff
      padding-top: 15px

  .quantitative, .qualitative
    width: 25%
    display: flex
    flex-flow: column
    text-align: center
    padding: 5px

    .title
      font-size: 20px
      margin-bottom: 5px
      font-weight: bold

    .subtitle
      white-space: nowrap
      font-size: 15px

      .selectable
        background-color: rgba(235,237,79,0.5)
        border: 1px solid rgb(235,237,79)
        height: 100%

  .quantitative
    border-right: 1px solid #afafaa
