@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Heavy.woff');
  font-weight: 900;
  font-style: normal;
}



body{
  font-size:18px; 
  font-family: "Avenir Next Condensed";
}
.signup-header h1{
  color: orangered;
  font-weight: bold;
  letter-spacing: 2px;
}
.signup-form label{
  font-size: 1.5em;
}