@font-face {
  font-family: 'Paytone One';
  src: url('./fonts/PaytoneOne-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Heavy.woff');
  font-weight: 900;
  font-style: normal;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Paytone One', sans-serif;
  font-size: 20px;
  background: white;
  color: #266294;
  /*overflow: hidden;*/
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.base-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.signup-form label {
  font-size: 1.5em;
}

.signup-form .validation-error {
}

@media screen and (max-height: 1080px) {
  body {
    font-size: 16px;
  }

  .base-container {
    padding: 5px 0;
  }

  label {
    margin-bottom: -20px;
  }

  .shoes-input, .height-input {
    margin-top: 50px;
  }

  .vertical-slider {
    height: 500px;
  }

  .slider-custom {
    margin-left: 120px;
  }

  .shoes-input label {
    max-width: 420px;
  }

  .signup-form {
    padding: 15px;
    display: inherit;
  }

  button img {
    margin: 20px;
  }

  .form-container {
    padding: 20px 0;
  }

  .zip-code-input button {
    font-size: 30px !important;
  }

  .zip-code-readout {
    font-size: 30px;
  }

  .signup-form label {
    font-size: 40px;
  }

  .displayTimer {
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .signup-form {
    padding: 0px;
  }
}
