@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('./fonts/AvenirNextCondensed-Heavy.woff');
  font-weight: 900;
  font-style: normal;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 20px;
}

.base-container{
  background-image: url('./images/selection_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.signup-form label {
  font-size: 1.5em;
}

@media screen and (max-height: 950px) {
  body{
    font-size: 16px;
  }
  .base-container{
    display: inherit;
    height: auto;
    padding: 20px 0;
  }
  .signup-form{
    display: inherit;
  }
  .form-container{
    padding: 20px 0 ;
  }
  .signup-form label {
    font-size: 1.25em;
  }
}

