@import "palette.scss";

// primary, accent, warn
$default-legend-theme-primary: $gv-label;
$default-legend-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$default-legend-theme-warn: mat-palette($mat-red);

$default-legend-theme: mat-light-theme($default-legend-theme-primary, $default-legend-theme-accent, $default-legend-theme-warn);

@mixin default-legend-theme-mixin($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .legend-view-container {
    background: #ffffff;

    .label {
      color: mat-color($primary, gvLabel);
    }

    .graphic-variable-legend {
      color: mat-color($primary, legendText);

      .label {
        color: mat-color($primary, legendText);
      }

      .legend-row .mark {
        .circle, .rectangle {
          border-color: mat-color($primary, legendText) !important;
        }
      }
    }

    .mat-icon {
      color: mat-color($primary, legendIconColor3);

      .svg-color-ellipse1 {
        fill: mat-color($primary, legendIconColor1);
      }

      .svg-color-ellipse2 {
        fill: mat-color($primary, legendIconColor2);
      }

      .svg-color-ellipse3 {
        fill: mat-color($primary, legendIconColor3);
      }
    }
  }
}

@include angular-material-theme($default-legend-theme);

.default-legend-theme {
  @include angular-material-theme($default-legend-theme);
  @include default-legend-theme-mixin($default-legend-theme);
}
