@import "../shared/common-colors.scss";

$gv-label: (
  gvLabel: $color-0-98-152,
  legendText: $color-97-97-97,
  legendIconColor3: $color-0-98-152,
  legendIconColor2: $color-102-161-193,
  legendIconColor1: $color-204-224-234
);
