.datatable
  overflow-y: auto
  height: 81vh
  width: 100%
  background: #3D3D3D

  .table
    background: #3D3D3D
  
  .mat-cell, .mat-header-cell
    color: #FFFFFF
    text-align: center
    font-size: 15px
    cursor: move
  
  .mat-header-cell
    height: 5vh
    font-size: 20px

  .mat-header-row, .mat-row
    height: 6.6vh
    padding-left: 0px
    margin-right: 10px
  
  .mat-row
    cursor: pointer

    &:nth-child(even)
      background-color: #696969

  .mav-field-index
    margin: 0px
    padding: 5px
    padding-left: 0px
    width: 6.6vh
    height: 6.6vh
    background-color: #3D3D3D
    display: table-cell
    vertical-align: middle
    text-align: center
    font-weight: bold
  
  .selected
    background-color: #ffffff
    .mat-cell
      color: #000000
    .mav-field-index
      color: #ffffff
    &.mat-row:nth-child(even)
      background-color: #ffffff
