.endline-screen-container 
    display: flex
    color: #000
    font-size: 150px
    font-weight: 700
    font-family: "Roboto Mono",monospace
    width: 100%

    .endline-screen-persona
        width: 25%
        justify-content: center
        padding: 13% 0 0 15%
    
    .endilne-screen-text
        justify-content: center
        padding: 15% 0 0 10%