.endline-screen-container 
    display: flex
    color: #000
    font-size: 150px
    font-weight: 700
    width: 90%
    justify-content: space-evenly

    .icon
        width: 31.25rem
        height: 31.25rem
        justify-content: center

    .endline-screen-persona
        width: 20%
        justify-content: center
        padding: 13% 0 0 15%
    
    .endline-screen-text
        justify-content: center
        padding: 15% 0 0 17%