@import '~custom-theme.sass'
@import '~typography.sass'
@import '~styles.sass'

.toolbar
  color: $white
  background-color: rgb(69,90,100)

.nav-tabs
  padding: 5px
  background: #000000

.mat-tab-link
  color: #FFFFFF