@import "../shared/common-colors.scss";

$button: (
  buttonLabel: $color-0-98-152,
  buttonOuterBorder: $color-220-136-35,
  buttonInnerBorder: $color-241-190-72,
  buttonTopGradient: $color-249-229-182,
  buttonToggleBackground: $color-white,
  buttonBoxshadow10: $color-60-64-67-10,
  buttonBoxShadow16: $color-60-64-67-16,
  buttonBackgroundWhite: $color-white
);
