::ng-deep {
  .mat-expanded .mat-expanded .mat-expansion-panel-content {
    min-height: 13rem;
  }
}

:host {
  display: block;
  width: 100%;

  markdown {
    display: block;
  }

  .header {
    display: flex;
    height: 4rem;
    margin-bottom: 4.5rem;
    padding: 0 1rem;
    align-items: center;
    font-weight: 300;
    font-size: 2.25rem;
  }

  .content {
    align-items: center;
    width: 100%;

    .center-box {
      display: block;
      width: 100%;
    }

    .title {
      font-weight: bold;
      font-size: 1.25rem;
    }

    .description {
      font-size: 1.25rem;
    }

    .loading-message {
      position: fixed;
      z-index: 2;
      left: 50%;
      top: 50%;
    }

    .visualization {
      position: relative;
      padding-right: 2.375rem;
      display: flex;
      flex-direction: column;
      width: 100%;

      &:hover {
        ngx-vega ::ng-deep summary, .help {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      }

      .help {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        opacity: 0.2;
        transition: opacity 0.4s ease-in;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        background: white;
        color: #1b1e23;

        &, .qmark {
          width: 1.75rem;
          height: 1.75rem;
          line-height: 1.75rem;
          font-size: 1.25rem;
          vertical-align: baseline;
        }

        ::ng-deep .mat-button-focus-overlay {
          display: none;
        }
      }

      .vis-controls {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;

        .vis-axes, .vis-shape-size {
          display: flex;
          padding: 1rem;

          .radio-group {
            padding-right: 2rem;

            label {
              padding-right: 1rem;
              font-weight: bold; 
            }

            mat-radio-group {
              mat-radio-button {
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }

    .info {
      opacity: 0;
      margin-top: 2rem;
    }

    mat-expansion-panel {
      mat-expansion-panel-header {
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5rem;

        mat-icon {
          margin-right: 0.5rem;
        }
      }

      .file-download-area {
        margin-top: 0.625rem;
        margin-bottom: 2.5rem;

        .file-download {
          position: absolute;
          right: 2rem;
        }
      }

      .spinner {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 8rem;
      }

      markdown {
        padding: 1rem 0.5rem 0;
      }
    }
  }

  .smooth-show {
    opacity: 1 !important;
    transition: opacity .75s;
  }

  .smooth-hide {
    opacity: 0 !important;
    transition: opacity .5s;
  }
}