.container {
  margin-top: 1rem;

  ::ng-deep .legend-container {
    height: 7.25rem;

    .legend-row {
      width: 8rem;
    }
  }

  &.size-legend {
    ::ng-deep .legend-container {
      height: auto;

      .legend-row:nth-child(3) {
        margin-top: -0.5rem;
      }
    }
  }
}
