.graphic-variable-legend 
  height: 12rem
  width: 9.375rem
  margin-top: 1rem
  overflow-y: auto

  &::ng-deep svg *
    stroke: white

  &::ng-deep svg text
    fill: white

  &::ng-deep .legend-container
    display: flex
    flex-wrap: wrap
    flex-direction: column

    .legend-row
      width: 9.375rem
      line-height: 1.75rem !important

.title 
  text-align: center
