.graphic-variable-legend 
  height: 100%
  margin-top: 5px
  overflow-y: auto
  
  &::ng-deep svg *
    stroke: white

  &::ng-deep svg text
    fill: white

  &::ng-deep .legend-container
    .legend-row
      line-height: 1.75rem !important
    .mark
      margin-bottom: 2px
    .circle
      border-color: white !important
    .rectangle
      border-color: white !important

.title 
  text-align: center
