.container {
  .label-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #006298;

    .icon {
      width: 1.25rem;
      height: 1.25rem;
    }

    .label {
      margin-left: 0.5rem;
    }
  }
}
