.scatter-graph
    .container
        height: 54.5rem
        display: flex

        .y-axis-buttons
            width: 15.625rem
        
        .visualization
            width: calc(100vw - 31.25rem) // 15.625 from the y asix buttons column and 15.625 from the right column = 31.25rem
            .visualization-area
                height: 46rem
            .x-axis-buttons
                height: calc(100vw - 46rem)
            
        .graphic-variables-selection
            width: 15.625rem