.container
    width: 100%
    border: 1px solid red
    height: 100%
    display: flex
    .y-axis-buttons
        width: 250px
        border: 1px solid green
        height: 100%
    .visualization
        width: 1420px
        border: 1px solid blue
        height: 100%
    .graphic-variables-selection
        width: 250px
        border:1px solid green
        height: 100%