.visualization-container
  background: #ffffff
  height: 100%
  width: 100%

.text
  color: #000000

.tab-label
  display: flex
  flex-direction: column
  align-items: stretch
  .image
    width: 100px


.partial-disabled-tab-label
  color: #ffb100
  font-weight: 700
  .first-line
    align-self: flex-start