body {
  background: #f2dfa2;
  font-family: 'Roboto Condensed', sans-serif;
  color: #0a0909;
}

h1, h2 {
  font-family: 'Patua One', cursive;
}

strong {
  font-weight: 700;
}

.jumbotron {
  background: #eacb66;
  border-bottom: 3px solid white;
}

.navbar-dark {
  background: #232628;
}

.nav-item a {
  color: #eacb66;
  font-weight: 700;
}

.footer-body {
  border-top: 3px solid white;
}

hr {
  height: 1px;
  border: 0;
  border-top: 3px solid white;
  margin: 1em 0;
  padding: 0;
}

a {
  color: #3574D3;
}
