
:host {
  display: block;

  markdown {
    display: block;
  }

  .header {
    display: flex;
    height: 4rem;
    margin-bottom: 4.5rem;
    padding: 0 1rem;
    align-items: center;
  }

  .content {
    padding-left: 1rem;
    padding-right: 1rem;

    .index {
      padding-bottom: 2rem;
    }

    mat-expansion-panel {
      mat-expansion-panel-header {
        font-weight: bold;
      }

      markdown {
        padding: 1rem 0.5rem 0;
      }
    }
  }
}