// common colors

// Labels for Graphic Variables, Data values in table, Icons in table, Button labels, inactive
$color-0-98-152: rgba( 0, 98, 152, 1);

// Legend text
$color-97-97-97: rgba(97, 97, 97, 1);


// X & Y Axis line and arrows, X & Y Axis labels
$color-1-66-106: rgba(1, 66, 106, 1);


// Button outer border, Button inner box, active
$color-220-136-35: rgba(220, 136, 35);

// Button inner box border, Button inner box darker, bottom color of gradient
$color-white: #fff;

// Button inner box top lighter color of gradient
$color-241-190-72: rgba(241, 190, 72);

// Button inner box, top lighter color of gradient, Background selected record
$color-249-229-182: rgba(249, 229, 182, 1);

// Button toggle checked
$color-60-64-67-10: rgba(60, 64, 67, 0.1);
$color-60-64-67-16: rgba(60, 64, 67, 0.16);

$color-222-218-215: rgba(222, 218, 215);
$color-204-224-234: rgba(204, 224, 234);
