// common colors

// Labels for Graphic Variables
$color-0-98-152: rgba( 0, 98, 152, 1);

// Legend text
$color-97-97-97: rgba(97, 97, 97, 1);


// X & Y Axis line and arrows, X & Y Axis labels
$color-1-66-106: rgba(1, 66, 106, 1);