.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .label {
    margin: 0 0.5rem 0 0;
  }

  &.vertical {
    flex-direction: column;

    .label {
      margin: 0 0 0.5rem 0;
    }
  }

  ::ng-deep .mat-button-toggle-group {
    border: none;
    box-shadow: none;

    .mat-button-toggle {
      width: 9.375rem;
      border: solid 0.25rem transparent !important;
      border-radius: 0.5rem !important;
      padding: 0.125rem;
      margin: 0 0.5rem;

      &:last-child {
        margin-right: 0;
      }

      .mat-button-toggle-button {
        border: solid 0.0625rem transparent !important;
        border-radius: 0.25rem;

        .mat-button-toggle-label-content {
          padding: 0 0;
          line-height: 2.5rem;
        }
      }
    }

    &.mat-button-toggle-vertical .mat-button-toggle {
      margin: 0.5rem 0;
    }
  }
}
