/* ------------------------------- 
 * Research page list
 * ------------------------------- */

.research-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('../assets/research-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: auto;
  height: 100%;
  padding: 14rem 2rem;
}

.research-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2rem;
}

.research-title {
  font-weight: 900;
  font-size: 2rem;
}

.text-below-research-title {
  font-size: 1rem;
  line-height: 1.25rem;
}

@media (min-width: 544px) {
  .research-title {
    font-size: 3rem;
  }

  .text-below-research-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  .research-page {
    padding: 14rem 5rem;
  }

  .research-title {
    font-size: 5rem;
  }

  .text-below-research-title {
    font-size: 1.625rem;
    line-height: 2rem;
  }
}

@media (min-width: 1012px) {
  .research-page {
    padding: 10rem 5rem 14rem 5rem;
  }

  .research-page-content {
    max-width: 56rem;
  }

  .research-title {
    font-size: 5.625rem;
  }

  .text-below-research-title {
    font-size: 1.75rem;
    line-height: 2.18rem;
  }
}

@media (min-width: 1280px) {
  .research-title {
    font-size: 6rem;
  }

  .text-below-research-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* ------------------------------- 
 * Page below research page list
 * ------------------------------- */

.page-below-research {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
  background: linear-gradient(180deg, rgba(255, 250, 236, 0) 0%, #fff5d5 100%);
  gap: 5rem;
}

.research-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;

  width: 18rem;
}

.research-card-title {
  font-weight: 900;
  font-size: 2rem;
}

.research-list {
  font-family: Inter;
  line-height: 200%;
  font-weight: 400;
  margin-top: 2rem;
}

.first-item {
  margin-top: -5px;
}

.research-items {
  gap: 0.938rem;
}

ul {
  font-size: 0.875rem;
  margin-left: -1.125rem;
}

.custom-font {
  font-size: 1rem;
}

@media (min-width: 544px) {
  .page-below-research {
    padding: 5rem 2rem;
  }

  .research-card {
    width: 30rem;
  }

  .research-card-title {
    font-size: 3rem;
  }

  ul {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .page-below-research {
    padding: 10rem 5rem;
    gap: 10rem;
  }

  .research-card {
    width: 38rem;
  }

  .research-card-title {
    font-size: 4rem;
  }
}

@media (min-width: 1012px) {
  .page-below-research {
    padding: 14rem 5rem;
    gap: 10rem;
  }

  .research-card {
    width: 53.25rem;
  }

  .research-card-title {
    font-size: 4.5rem;
  }
}

@media (min-width: 1280px) {
  .page-below-research {
    padding: 14rem 5rem;
  }

  .research-card {
    width: 56rem;
  }
}
