/* ------------------------------- 
 * Global/generic
 * ------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter;
  margin: 0;
}

a {
  text-decoration: none;
  color: #006298;
}

.link:hover {
  text-decoration: underline;
}

.default-button:hover {
  cursor: pointer;
  background: #fed03c;
}

.default-button {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #f2dfa2;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 100%;

  line-height: 17.5px;
  align-items: center;
  font-size: 0.875rem;
  color: black;
}

.downward-arrow {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 544px) {
  .default-button {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .custom {
    width: auto;
    max-width: 16rem;
  }

  .default-button {
    padding: 1rem 1.75rem;
  }

  .new-tab-logo {
    margin-right: 0.75rem;
  }
}

.new-tab-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.938rem;
}

img {
  width: 100%;
}

/* ------------------------------- 
 * Header navigation list
 * ------------------------------- */

.nav-list {
  position: fixed;
  display: flex;

  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  gap: 0.5rem;

  align-items: center;
  justify-content: space-between;

  list-style: none;
  background-color: #f2dfa2;
}

.nav-link {
  display: block;
  padding: 1rem 0.25rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: black;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 0.25rem solid #006298;
  margin-bottom: -0.25rem;
}

.nav-item:focus {
  border: 0.25rem solid #006298;
  border-radius: 0.5rem;
}

.nav-item.active {
  border-bottom: 0.25rem solid #006298;
  margin-bottom: -0.25rem;
}

@media (min-width: 544px) and (max-width: 767px) {
  .nav-link {
    font-size: 1.125rem;
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-list {
    padding: 1rem 5rem;
  }

  .nav-link {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }
}

/* ------------------------------- 
 * Home page list
 * ------------------------------- */

.main-page-wrapper {
  padding-top: 5rem;
  height: 100vh;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('../assets/landing-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: auto;
  height: 100%;
  padding: 10rem 1rem;
}

.title {
  font-weight: 900;
  font-size: 2.5rem;
}

.text-below-title {
  text-align: center;
}

.home-page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 544px) {
  .main-page-wrapper {
    padding-top: 5.5rem;
  }

  .home-page {
    padding: 14rem 1rem;
  }

  .title {
    font-size: 3rem;
  }

  .text-below-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .home-page {
    padding: 14rem 5rem;
  }

  .title {
    font-size: 5rem;
  }

  .text-below-title {
    font-size: 2rem;
  }
}

@media (min-width: 1012px) {
  .home-page {
    padding: 10rem 5rem 14rem 5rem;
  }

  .home-page-contents {
    max-width: 56rem;
  }

  .title {
    font-size: 5.625rem;
  }

  .text-below-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 6rem;
  }

  .text-below-title {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

/* ------------------------------- 
 * About page list
 * ------------------------------- */

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 31.5rem;
  padding: 5rem 1rem;
  background: linear-gradient(180deg, #fff5d5 0%, rgba(255, 250, 236, 0) 100%);
}

.about-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.about-title {
  font-weight: 900;
  text-align: center;
  font-size: 1.75rem;
}

.about-buttons {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 2.5rem;
}

.about-button {
  width: 100%;
}

.text-below-about {
  font-size: 0.875rem;
  text-align: center;
}

@media (min-width: 544px) {
  .about-contents {
    gap: 4rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .text-below-about {
    font-size: 1.25rem;
  }

  .filler {
    height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .about-page {
    padding: 10rem 5rem;
  }

  .about-contents {
    gap: 5rem;
  }

  .about-title {
    font-size: 3rem;
  }

  .text-below-about {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .about-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
  }

  .filler {
    display: none;
  }
}

@media (min-width: 1012px) {
  .about-title {
    font-size: 4rem;
  }

  .text-below-about {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: 1280px) {
  .about-page {
    padding: 14rem 5rem;
  }

  .about-contents {
    max-width: 56rem;
  }

  .about-title {
    font-size: 4.5rem;
  }

  .text-below-about {
    font-size: 1.75rem;
  }
}

/* ------------------------------- 
 * Data Visualization page list
 * ------------------------------- */

.data-visualization-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28rem;
  padding: 5rem 1rem;
}

.data-visualization-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

.data-visualization-title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.data-visualization-title {
  font-weight: 900;
  font-size: 2rem;
}

.text-below-data-visualization-title {
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.plot-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.last-card {
  margin-bottom: 0px;
}

.plot-title {
  font-weight: 900;
  font-size: 1.75rem;
}

.plot-caption {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 200%;
}

@media (min-width: 544px) {
  .data-visualization-page {
    padding: 5rem 2rem;
  }

  .data-visualization-contents {
    gap: 10rem;
  }

  .text-below-data-visualization-title {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }

  .last-card {
    margin-bottom: 0px;
  }

  .plot-caption {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .data-visualization-page {
    padding: 10rem 5rem;
  }

  .data-visualization-contents {
    gap: 10rem;
  }

  .data-visualization-title {
    font-size: 3rem;
  }

  .text-below-data-visualization-title {
    font-size: 1.375rem;
    line-height: 2.75rem;
  }

  .last-card {
    margin-bottom: 0px;
  }

  .plot-title {
    font-size: 2.5rem;
  }

  .plot-caption {
    font-size: 1.25rem;
  }
}

@media (min-width: 1012px) {
  .data-visualization-title {
    font-size: 4rem;
  }

  .text-below-data-visualization-title {
    font-size: 1.375rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1280px) {
  .data-visualization-contents {
    max-width: 56rem;
  }

  .data-visualization-title {
    font-size: 4.5rem;
  }

  .text-below-data-visualization-title {
    font-size: 1.625rem;
    line-height: 3.25rem;
  }

  .plot-card {
    width: 100%;
  }

  .plot-title {
    font-size: 3rem;
  }
}

/* ------------------------------- 
 * Partnership page list
 * ------------------------------- */

.partnership-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 31.25rem;
  background: linear-gradient(180deg, rgba(255, 250, 236, 0) 0%, #fff5d5 100%);

  padding: 10rem 1rem;
}

.partnership-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 14rem;

  width: 100%;
}

.partnership-page-title {
  font-weight: 900;
  font-size: 1.75rem;
  text-align: center;
  /* font-family: Lexend; */
}

.partnership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 0.5rem;

  width: 18rem;
}

.logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0px;
  gap: 0.5rem;
  height: 7.875rem;
}

.photo-caption {
  text-align: center;
}

@media (min-width: 544px) {
  .partnership-page {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 5rem;
  }

  .partnership-page-title {
    font-size: 2.375rem;
  }

  .partnership-card {
    width: 24rem;
  }
}

@media (min-width: 768px) {
  .partnership-page {
    padding: 10rem 5rem;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .partnership-page-content {
    gap: 14rem;
  }

  .partnership-page-title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .partnership-card {
    width: 28.313rem;
  }
}

@media (min-width: 1012px) {
  .partnership-page-content {
    max-width: 56rem;
  }

  .partnership-page-title {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .partnership-page-content {
    gap: 14rem;
  }

  .partnership-card {
    width: 28.313rem;
  }

  .partnership-page-title {
    font-size: 3rem;
  }
}

/* ------------------------------- 
 * Footer
 * ------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem;
  background: rgba(255, 250, 236, 0.92);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.footer-caption {
  text-align: center;
}

.link {
  color: #006298;
}

@media (min-width: 768px) {
  footer {
    padding: 10rem 5rem;
  }
}

@media (min-width: 1280px) {
  .footer-content {
    max-width: 90rem;
  }
}
