/* ------------------------------- 
 * Global/generic
 * ------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Lexend;
  margin: 0;
}

a {
  text-decoration: none;
}

.default-button:hover {
  cursor: pointer;
  background: #FED03C;
}

.default-button {
  background-color: #F2DFA2;
  padding: 16px 32px;
  margin-bottom: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  line-height: 17.5px;
  align-items: center;
}

@media (min-width: 544px)  {
  .default-button {
    font-size: 20px;
  }
}

@media (min-width: 768px)  {
  .custom {
    display: inline;
  }

  .default-button {
    padding: 16px 28px;
    letter-spacing: -1px;
  }

  .new-tab-logo {
    margin-right: 12px;
  }
}

.new-tab-logo {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

img {
  width: 100%
}

/* ------------------------------- 
 * Header navigation list
 * ------------------------------- */

.nav-list {
  position: fixed;
  display: flex;

  width: 100%;
  height: 79px;
  margin: 0;
  padding: 16px 32px;
  gap: 8px;

  align-items: center;
  justify-content: space-between;

  list-style: none;
  background-color: #f2dfa2;
}

.nav-link {
  display: block;
  padding: 16px 4px;
  font-weight: 400;
  font-size: 12px;
  color: black;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 4px solid #006298;
  margin-bottom: -4px;
}

.nav-item:focus {
  border: 4px solid #006298;
  border-radius: 8px;
}

.nav-item.active {
  border-bottom: 4px solid #006298;
  margin-bottom: -4px;
}

@media (min-width: 544px) and (max-width: 767px) {
  .nav-list {
    height: 87px;
  }

  .nav-link {
    font-size: 18px;
    padding: 16px;
  }
}

@media (min-width: 768px) {
  .nav-list {
    height: 89px;
    padding: 16px 80px;
  }

  .nav-link {
    font-size: 20px;
    padding: 16px 32px;
  }
}

/* ------------------------------- 
 * Home page list
 * ------------------------------- */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 249px 16px;
  background-color: aqua;
}

.title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 32px;
}

.text-below-title {
  text-align: center;
}

@media (min-width: 544px) and (max-width: 767px) {
  .home-page {
    padding: 421px 16px;
  }

  .title {
    font-size: 48px;
  }

  .text-below-title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .home-page {
    padding: 366px 80px;
  }

  .title {
    font-size: 80px;
  }

  .text-below-title {
    font-size: 32px;
  }
}

@media (min-width: 1012px)  {
  .home-page {
    padding: 372px 58px;
  }

  .title {
    font-size: 90px;
  }

  .text-below-title {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .home-page {
    padding: 361px 272px;
  }

  .title {
    font-size: 96px;
  }

  .text-below-title {
    font-size: 40px;
    line-height: 50px;
  }
}


/* ------------------------------- 
 * About page list
 * ------------------------------- */


.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 16px;
  background: linear-gradient(180deg, #fff5d5 0%, rgba(255, 250, 236, 0) 100%);
}

.about-title {
  font-weight: 900;
  text-align: center;
  font-size: 28px;
  margin-bottom: 48px;
}

.blue-box {
  background-color: #006298;
  width: 122px;
  height: 24px;
  margin-bottom: 48px;
}

.text-below-about {
  font-size: 14px;
  text-align: center;
  margin-bottom: 48px;
}

@media (min-width: 544px) and (max-width: 767px) {
  .about-page {
    padding: 224px 32.5px;
  }

  .about-title {
    font-size: 32px;
  }

  .text-below-about {
    font-size: 20px;
    margin-bottom: 80px;
  }
}

@media (min-width: 768px)  {
  .about-page {
    padding: 224px 80px;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 80px;
  }

  .blue-box {
    margin-bottom: 80px;
  }

  .text-below-about {
    font-size: 24px;
    margin-bottom: 80px;
    font-weight: 400;
  }

  .about-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }

  .about-image {
    margin-top: 80px;
  }
}

@media (min-width: 1012px) {
  .about-page {
    padding: 336px 80px;
  }

  .about-title {
    font-size: 64px;
    margin-bottom: 80px;
  }

  .blue-box {
    margin-bottom: 80px;
  }

  .text-below-about {
    font-size: 24px;
    margin-bottom: 80px;
    font-weight: 400;
  }

  .about-image {
    margin-top: 80px;
  }
}

/* ------------------------------- 
 * Data Visualization page list
 * ------------------------------- */

.data-visualization-page {
  padding: 160px 16px;
}

.data-visualization-title {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 48px;
}

.text-below-data-visualization-title {
  font-size: 14px;
  line-height: 28px;
}

.plot-card {
  margin-bottom: 160px;
  padding-left: 16px;
  padding-right: 16px;
}

.plot-title {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 48px;
}

.plot-caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 48px;
  line-height: 200%;
}

@media (min-width: 544px) and (max-width: 767px) {
  .data-visualization-page {
    padding: 160px 32px;
  }

  .text-below-data-visualization-title {
    font-size: 18px;
    line-height: 36px;
  }

  .plot-card {
    margin-bottom: 160px;
    padding-left: 32px;
    padding-right: 32px;
  }
 
}

@media (min-width: 768px) {
  .data-visualization-page {
    padding: 224px 80px;
  }

  .data-visualization-title {
    font-size: 48px;
  }

  .text-below-data-visualization-title {
    font-size: 22px;
    line-height: 44px;
  }

  .plot-card {
    margin-bottom: 224px;
    padding-left: 83.5px;
    padding-right: 83.5px;
  }

  .plot-title {
    font-size: 40px;
  }

  .plot-caption {
    font-size: 20px;
  }

  .plot-image {
    margin-top: 48px;
  }
 
}

@media (min-width: 1012px) {
  .data-visualization-page {
    padding: 336px 80px;
    padding-bottom: 224px;
  }

  .data-visualization-title {
    font-size: 64px;
  }

  .text-below-data-visualization-title {
    font-size: 22px;
    line-height: 44px;
  }

  .plot-card {
    margin-bottom: 224px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .plot-title {
    font-size: 48px;
  }

  .plot-image {
    margin-top: 64px;
  }
 
}

/* ------------------------------- 
 * Partnership page list
 * ------------------------------- */

.xM-partnership-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 16px;
  font-family: Inter;
  background: linear-gradient(180deg, rgba(255, 250, 236, 0) 0%, #FFF5D5 100%);
}

.xM-partnership-page-title {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  font-family: Lexend;
}

.partnership-card {
  margin-top: 232px;
  text-align: center;
}

.photo-caption {
  margin-top: 43px;
  text-align: center;
}

.partner-university, .partner-location {
  padding-top: 16px;
}

.partner-location {
  padding-top: 16px;  
}

@media (min-width: 544px) and (max-width: 767px) {
  .xM-partnership-page {
    padding: 160px 80px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .xM-partnership-page-title {
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  .xM-partnership-page {
    padding: 224px 80px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .xM-partnership-page-title {
    font-size: 40px;
    font-weight: 900;
  }
}

@media (min-width: 1012px) {
  .xM-partnership-page {
    padding: 336px 58px;
  }
  
  .xM-partnership-page-title {
    font-size: 48px;
  }
}

/* ------------------------------- 
 * Footer
 * ------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 32px;
  background: rgba(255, 250, 236, 0.92);
}

.footer-caption {
  margin-top: 32px;
  text-align: center;
}

.link {
  color: #006298;
}

.footer-image {
  margin-top: 0px;
  width: 100px;
  height: 101px;
}